name: Run CI tests
on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 2'
jobs:
  linter:
    uses: ./.github/workflows/linter.yml
  coverage:
    uses: ./.github/workflows/coverage.yml
    needs:
      - linter
  os:
    uses: ./.github/workflows/wheels.yml
    if: startsWith(github.ref, 'refs/tags/') != true
    needs:
      - coverage
