name: Build & test docs
on:
  workflow_call:
jobs:
  docs:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - run: |
          sudo apt-get update
          sudo apt-get install libgmp-dev
          sudo apt-get install texlive texlive-latex-extra latexmk
      - run: pip install --upgrade pip
      - run: pip --verbose install --editable .[docs]
      - run: |
          alias sphinx-build='sphinx-build --color -W --keep-going'
          sphinx-build -b doctest docs build/sphinx/doctest
          sphinx-build -b html docs build/sphinx/html
          sphinx-build -b latex docs build/sphinx/latex
          make -C build/sphinx/latex all-pdf
      - uses: actions/upload-artifact@v4
        with:
          name: docs
          path: |
            build/sphinx/html/
            build/sphinx/latex/python-gmp.pdf
