name: Publish on PyPI
on: push
jobs:
  build:
    name: Build distribution
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.x"
    - run: pip install build
    - run: python -m build -s
    - uses: actions/upload-artifact@v4
      with:
        name: python-gmp-sdist
        path: dist/
  wheels:
    uses: ./.github/workflows/wheels.yml
  publish-to-pypi:
    name: Publish distribution to PyPI
    if: startsWith(github.ref, 'refs/tags/')
    needs:
      - build
      - wheels
    runs-on: ubuntu-22.04
    environment:
      name: pypi
      url: https://pypi.org/p/python-gmp
    permissions:
      id-token: write
    steps:
    - uses: actions/download-artifact@v4
      with:
        pattern: python-gmp-*
        path: dist/
        merge-multiple: true
    - uses: pypa/gh-action-pypi-publish@release/v1
  github-release:
    name: >-
      Sign the Python distribution with Sigstore
      and upload them to GitHub Release
    needs:
      - publish-to-pypi
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      id-token: write
    steps:
    - uses: actions/download-artifact@v4
      with:
        pattern: python-gmp-*
        path: dist/
        merge-multiple: true
    - uses: sigstore/gh-action-sigstore-python@v3.0.0
      with:
        inputs: >-
          ./dist/*.tar.gz
          ./dist/*.whl
    - name: Create GitHub Release
      env:
        GITHUB_TOKEN: ${{ github.token }}
      run: >-
        gh release create '${{ github.ref_name }}'
        --repo '${{ github.repository }}'
        --prerelease
        --generate-notes
    - name: Upload artifact signatures to GitHub Release
      env:
        GITHUB_TOKEN: ${{ github.token }}
      run: >-
        gh release upload
        '${{ github.ref_name }}' dist/**
        --repo '${{ github.repository }}'
