name: test
on: [push, pull_request]
jobs:
  linter:
    uses: ./.github/workflows/linter.yml
  docs:
    uses: ./.github/workflows/docs.yml
  coverage:
    uses: ./.github/workflows/coverage.yml
  linux:
    needs:
      - linter
      - coverage
    strategy:
      fail-fast: true
      matrix:
        python-version: [3.9, '3.10', pypy3.10-nightly, 3.11, 3.12, 3.13, 3.14]
    runs-on: ubuntu-22.04
    env:
      CFLAGS: -Wpedantic -Werror -std=c17
      PYTEST_ADDOPTS: --verbose
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - run: |
          sudo apt-get update
          sudo apt-get install libgmp-dev
      - run: pip install --upgrade pip
      - run: pip --verbose install --editable .[tests]
      - run: pytest
  macos:
    needs:
      - linux
    runs-on: macos-14
    env:
      CFLAGS: -Wpedantic -Werror -std=c17
      PYTEST_ADDOPTS: --verbose
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - run: pip install --upgrade pip
      - run: |
          export CFLAGS="$CFLAGS -I$(brew --prefix gmp)/include"
          export LDFLAGS="-L$(brew --prefix gmp)/lib"
          pip --verbose install --editable .[tests]
      - run: pytest
  windows:
    needs:
      - linux
    runs-on: windows-2022
    env:
      PYTEST_ADDOPTS: --verbose
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v4
      - uses: msys2/setup-msys2@v2
        with:
          update: true
          install: >-
            git
            gcc
            gmp-devel
            python-setuptools
            python-pip
      - run: |
          python -m venv .test-venv
          source .test-venv/bin/activate
          pip install --upgrade pip
          pip --verbose install -e .[tests]
          pytest
